@font-face {
    font-family: 'Fira Sans';
    src: url(../fonts/FiraSans-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Play';
    src: url(../fonts/Play-Regular.ttf);
    font-weight: 400;
}